# Workflow for basic library builds.
name: CI
on:
  pull_request:
  push:
    branches:
      - main
jobs:
    # Build workflow.
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Check out sources
              uses: actions/checkout@v4
            - name: Setup Java JDK
              uses: actions/setup-java@v5.0.0
              with:
                  java-version: 25
                  distribution: temurin
            - name: Build with Maven
              run: mvn --update-snapshots verify
